.map {
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Popup style overrides */
.map :global(.leaflet-popup-content-wrapper) {
  padding: 0;
  border-radius: var(--radius-xl);
  box-shadow: var(--shadow-lg);
}

.map :global(.leaflet-popup-content) {
  margin: var(--sp-4) var(--sp-4);
  min-width: 200px;
}
