.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #0f0f23;
}

.main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.mapArea {
  flex: 1;
  position: relative;
}
